@import "./mixins.scss";

.container {
  margin: 3px;
  position: relative;
}
.publications {
  display: flex;
  position: absolute;
  top: 32px;
  left: 0;
  background-color: aliceblue;
  z-index: 1;
}
.button {
  @include button;
}
