@import "./mixins.scss";

.container {
  position: absolute;
  left: 0px;
  top: 31px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.publications_container {
  background-color: #d5dbdf;
  border: 2px #33cfff solid;
  z-index: 1;
  box-shadow: #000000bd 0px 2px 12px 1px;
  border-radius: 8px;
  padding: 3px;
  button {
    cursor: pointer;
    padding: 1px 3px;
    background-color: #0fa11b;
    // border: none;
    border-radius: 3px;
  }
}

.publications {
  display: flex;
  input {
    width: 60px;
  }
  .post {
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    .in {
      border-bottom: 1px solid rgb(15 175 9);
    }
    .out {
      border-bottom: 1px solid rgb(175, 9, 9);
    }
    .residue {
      font-size: 14px;
    }
  }
}
.button {
  cursor: pointer;
  color: rgb(167, 167, 167);
  transform: scale(0.5);
  &:hover {
    color: white;
    transform: scale(1);
  }
}
