.master_store {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.425);
  backdrop-filter: blur(3px);
  z-index: 2;
  .modal {
    width: 300px;
    border-radius: 8px;
    background-color: azure;
    border: 2px solid #33cfff;
    padding: 3px;
    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 25px 10px 10px 10px;
      .field {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: start;
        width: 100%;
        margin: 6px;
        input {
          max-width: 60px;
        }
      }
      .buttons_container {
        display: flex;
        gap: 10px;
        button {
          padding: 3px;
          color: bla;
          background-color: #0da2cf;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          &:nth-child(2) {
            background-color: #7a8f96;
          }
          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
    .danger_zone {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      padding: 5px;
      border: solid #e9e9e9 1px;
      border-radius: 4px;
      &:hover {
        color: red;
        border-color: red;
      }
      .content {
        padding: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        p {
          text-align: left;
          font-size: 14px;
          line-height: 14px;
          color: gray;
        }
        button {
          margin: 10px 0px 0px;
          cursor: pointer;
        }
      }

      .open_zone_btn {
        align-self: flex-start;
        color: #e9e9e9;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          color: red;
        }
      }
      .disclaimer {
        margin: 10px 0px;
      }
      .red {
        color: red;
      }
    }
  }
}
