@import "./mixins.scss";

.container {
  position: relative;
  max-width: 1000px;
  background-color: #dae2e7;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  border: 2px #33cfff solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.596);
  border-radius: 8px;
  .title {
    text-align: left;
    width: 300px;
    color: #515353;
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
    .open_master {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .item {
    padding: 5px;
    display: flex;
    align-items: center;
  }
  .item_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .date {
    bottom: -19px;
    right: 10px;
    border-radius: 3px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: #3a3939;
    &:hover {
      opacity: 1;
    }
  }
  input[type="date" i] {
    cursor: pointer;
    &::-webkit-calendar-picker-indicator {
      background-color: #00000077;
      cursor: pointer;
      border-radius: 3px;
      &svg {
        color: #33cfff;
      }
    }
  }
  .residue {
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    .bottom {
      @include button;
    }
    p {
      margin: 0 3px;
      text-align: center;
    }
  }
}
