.container {
  width: 100%;
  padding: 0;
  display: flex;
  background-color: #dae2e7;
  border-bottom: solid 2px #33cfff;
  overflow-x: scroll;
  .active {
    background-color: #33cfff;
  }
  li {
    padding: 5px 10px 15px;
    list-style: none;
    border-right: 2px solid #33cfff;
    cursor: pointer;
    transition: 0.5s all;
    a {
      font-weight: 700;
      color: rgb(83, 83, 83);
    }
    &:hover {
      background-color: #adecff;
    }
  }
}
