.verification {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
      display: block;
      margin: 10px;
    }
  }
}
